<header>
    <!--Top Navbar-->
    <div uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky">
        <nav class="uk-navbar-container uk-navbar style="top: 0px uk-navbar="mode: hover;" >
            <div class="uk-navbar-left">
                <ul class="uk-navbar-nav">
                    <li>
                        <li class="">
                            <a href="#"><%= currentUserProfile.name %></a>
                            <div class="uk-navbar-dropdown uk-active" uk-dropdown="offset: -15">
                                <ul class="uk-nav uk-navbar-dropdown-nav">
                                    <li>
                                        <a href="/profile/id/<%= currentUserProfile._id %>">Dein Profil</a>
                                    <li>
                                        <a href="/profile/edit">Profil bearbeiten</a>
                                    <li>
                                        <a href="/users/logout">Logout</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </li>
                    <li>
                        <a>Deine Beiträge</a>
                        <div class="uk-navbar-dropdown uk-active" uk-dropdown="offset: -15">
                            <ul class="uk-nav uk-navbar-dropdown-nav">
                                <li>
                                    <a href="/profile/mycontent/posts/1">Deine Posts</a>
                                <li>
                                    <a href="/profile/mycontent/comments/1">Von dir Kommentierte Posts</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <li class="">
                            <a href="#">Nachrichten</a>
                        </li>
                    </li>
                        <li class="">
                            <a href="/contacts/list">Kontakte</a>
                        </li>
                    </li>
                    </li>
                    <li class="">
                        <a href="/group/all/1/">Alle Gruppen</a>
                    </li>
                </li>
                </ul>
            </div>
            <div class="uk-navbar-right">
                <ul class="uk-navbar-nav">
                    <li>
                        <a href="#">Parent</a>
                        <div class="uk-navbar-dropdown">
                            <ul class="uk-nav uk-navbar-dropdown-nav">
                                <li class="uk-active">
                                    <a href="#">Active</a>
                                </li>
                                <li>
                                    <a href="#">Item</a>
                                </li>
                                <li class="uk-nav-header">Header</li>
                                <li>
                                    <a href="#">Item</a>
                                </li>
                                <li>
                                    <a href="#">Item</a>
                                </li>
                                <li>
                                    <a href="#">Item</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

</header>