<% include ../start %>
<%const group = post.group%>
    <div class="main">
        <%- include('../../partials/components/show-post', {post: post, group: group})%>

        <%- include('../../partials/components/list-comments-with-subcomments', {post: post, group: group})%>

        <!-- Form for creating new 1st level comment -->
        <div class="post">
            <h4> Comment erstellen:</h4>
            <form action="/post/comment/create" method="post" enctype="multipart/form-data">
                <fieldset class="uk-fieldset">
                    <textarea class="uk-textarea" id="Text" type="text" name="text" placeholder="Text eingeben" required></textarea>
                    <input type="hidden" name="postId" value="<%= post._id %>"></br>
                    <input type="hidden" name="groupId" value="<%= group._id %>"></br>
                    <!--upload button -->
                    <div class="js-upload" uk-form-custom="target: true">
                        <input type="file" name='image' single>
                        <input class="uk-input uk-form-width-medium uk-button uk-button-default uk-background-default" type="text" placeholder="Bild hochladen">
                    </div>
                    <input class="uk-button uk-button-primary uk-button-small" type="submit" value="Absenden">
                </fieldset>
            </form>
        </div>

    </div>
<% include ../end %>