<% include ../../partials/head %>

<% include ../../partials/header %>
<% include ../../partials/sidebar %>

<body>
    <div class="main">
        <!-- listing posts -->
        <% if(posts){ posts.forEach((post) => { %>
            <%- include('../../partials/components/single-post-reference', {post: post})%>
        <% })} %>
    </main>
</body>

<% include ../../partials/footer %>
<% include ../../partials/foot %>