<% include ../start %>
    <div class="main">
    <% include ../../partials/sidebar %>
        <!-- listing posts -->
        <% if(posts){ posts.forEach((post) => { %>
            <%- include('../../partials/components/single-post-reference', {post: post})%>
        <% })} %>
        <%- include('../../partials/pagination-reduced', {current: current, url: url })%>
    </main>
<% include ../end %>