<% include ../../partials/head %>

<% include ../../partials/header %>
<% include ../../partials/sidebar %>


    <!-- Page content -->
    <div class="main">


        <body>
            <h1> Current logged in user: </h1>
            <%= currentUserProfile.name %> </br>
            <%= currentUserProfile.email %> </br>
            <%= currentUserProfile.id %> </br>
            <%= currentUserProfile%> </br>
        </body>

    </div>


    
<% include ../../partials/foot %>


