<% include ../../partials/head %>

<% include ../../partials/header %>

<body>
    <h1> Current logged in user: </h1>
    <%= currentUser.name %> </br>
    <%= currentUser.email %> </br>
    <%= currentUser.id %> </br>
</body>


<% include ../../partials/foot %>


