Neue login view

<form action="/users/login" method="post">
    <input id="Email" type="text" name="email" placeholder="Email eingeben"></br>
    <input id="Passwort" type="text" name="password" placeholder="Passwort eingeben"></br>
    <input type="submit" value="Absenden">
</form>