<% include ../start %>



    <h1>You have successfully registered!</h1>
    <h2>To be able to login you have to wait until another user has verified your account</h2>
    <p>When your account is verified you can login <a href="/users/login">here</a></p>


<% include ../end %>