<% include ../start %>

    <div class="register-form">
    
        <h3>Register</h3>

        <div class="deutschland login"> 
            <hr class="divider__s">
            <hr class="divider__r">
            <hr class="divider__g">
        </div>

        <div class="form-group">
            <form action="/users/register" method="post">

                <div class="uk-margin ">
                    <div class="uk-inline register-input">
                        <input class="uk-input" id="Name" type="text" name="name" placeholder="Name eingeben" required>
                    </div>
                </div>

                <div class="uk-margin">
                    <div class="uk-inline register-input">
                        <input class="uk-input" id="Email" type="email" name="email" placeholder="Email eingeben" required>
                    </div>
                </div>

                <div class="uk-margin">
                    <div class="uk-inline register-input">
                        <input class="uk-input" id="Passwort" type="password" name="password" placeholder="Passwort eingeben" required>
                    </div>
                </div>

                <div class="uk-margin">
                    <div class="uk-inline register-input">
                        <input class="uk-input" id="Bestätigung_des_passworts" type="password" name="password2" placeholder="Passwort bestätigen" required>
                    </div>
                </div>

                <div class="uk-margin">
                    <div class="uk-inline register-input">
                        <input class="uk-input" id="Code" type="code" name="code" placeholder="Registrierungscode eingeben" required>
                    </div>
                </div>

                <input class="uk-button uk-button-default" type="submit" value="Absenden">
            </form>
        </div>
    </div>

<% include ../end %>