Neue register view

<form action="/users/register" method="post">
    <input id="Name" type="text" name="name" placeholder="Name eingeben"> </br>
    <input id="Email" type="text" name="email" placeholder="Email eingeben"></br>
    <input id="Passwort" type="text" name="password" placeholder="Passwort eingeben"></br>
    <input id="Bestätigung_des_passworts" type="text" name="password2" placeholder="Passwort bestätigen"></br>
    <input type="submit" value="Absenden">
</form>