.group-header{
    padding: 20px 20px 0px 20px;
    font-size: 30px;
    width: 640px;
}

.sub-button{
    display: inline-block;
    text-align: right;
}
.group-name{
    display: inline-block;
}

.new-post{
    margin: 8px 8px 20px 8px;
    width: 670px;
}

.subcomment-slider-title{
    //background-color: #1e87f0;
    //color: white;
    border: 1px solid #e5e5e5;
    padding: 5px;
}

.subcomment-form{
    background-color: white;
    padding-top: 10px;
    width: 630px;
    //border-top: 1px solid #e5e5e5;
    margin: 20px 8px 8px 8px;
    //display: none;
}

.post{
    background-color: white;
    padding: 20px;
    width: 630px;
    border: 1px solid #e5e5e5;
    margin: 8px;

    &__autor{
        display: block;
        color: #999;
        font-size: .5rem;
        text-transform: uppercase;
        transition: .1s ease-in-out;
        transition-property: color,background-color;
    }
    &__reply{
        display: inline-block;
        margin-top: 10px;
        margin-bottom: 10px;
        width: 300px;
        color: #999;
        font-size: .75rem;
        text-transform: uppercase;
        transition: .1s ease-in-out;
        transition-property: color,background-color;
    }
    &__comment-count{
        display: inline-block;
        color: #999;
        margin-top: 10px;
        margin-bottom: 10px;
        width: 300px;
        color: #999;
        font-size: .75rem;
        text-transform: uppercase;
        transition: .1s ease-in-out;
        transition-property: color,background-color;
    }
    &__comment{
        background-color: white;
        padding: 20px;
        width: 630px;
        border: 1px solid #e5e5e5;
        margin: 8px 8px 8px 8px;
    }
    &__sub-comment{
        background-color: white;
        //padding: 20px;
        width: 580px;
        border-top: 1px solid #e5e5e5;
        margin: 8px 8px 8px 50px;
    }
}

.comment-form{
    display: none;
}

.uk-card-body {
    padding: 20px;
}
.uk-card {
    margin: 20px;
}