<% include ../start %>

    <div class="main">
        <div class="uk-margin uk-margin-left uk-margin-right">
            <h3> profiles list </h3>
        </div>

        <!-- search Form-->
        <div class="uk-margin uk-margin-left uk-margin-right uk-background-default">
            <form class="uk-search uk-search-default uk-width-1-1" action="/profile/search" method="post">
                <input id="Name" type="text" name="name" class="uk-search-input" type="search" placeholder="Search...">
            </form>
        </div>

        <% if(profiles){ profiles.forEach((profile) => { %>
            <%- include('../../partials/components/single-profile-reference', {profile, currentUserProfile})%>
        <% })} %>

    </div>


<% include ../end %>