<% include ../../partials/head %>

<% include ../../partials/header %>
<% include ../../partials/sidebar %>

<body>
    <div class="main">
        <h1> contacts list </h1>    
        <% if(contacts){ contacts.forEach((contact) => { %>
            <%- include('../../partials/components/single-profile-reference', {profile: contact, currentUserProfile})%>
        <% })} %>







    </div>
</body>

<% include ../../partials/foot %>