<% include ../start %>

<body>
    <div class="main">
        <h3> contacts list </h3>    
        <% if(contacts){ contacts.forEach((contact) => { %>
            <%- include('../../partials/components/single-profile-reference', {profile: contact._id, currentUserProfile})%>
        <% })} %>
    </div>
</body>
<% include ../end %>