<% include ../../partials/head %>

<% include ../../partials/header %>
<% include ../../partials/sidebar %>
<!-- Page content -->
<div class="main">

    <body>
        <div class="profile__edit">
        Profil Bearbeiten:
        
            <form class="uk-form-width-large uk-margin-small " action="/profile/edit" method="post">
                <h3>Allgemeines:</h3>
                <div class="profile__form">
                    <input class="uk-input uk-form-small" id="form-horizontal-text" id="Name" type="text" name="name" placeholder="Name"></br>
                    <input class="uk-input uk-form-small" id="Email" type="text" name="email" placeholder="Email eingeben"></br>
                    <input class="uk-input uk-form-small" id="Standort" type="text" name="location" placeholder="Standort/Wohnort"></br>
                    <input class="uk-input uk-form-small" id="Bio" type="text" name="bio" placeholder="Über dich..."></br>
                </div>
                <h3>Social</h3>
                <div class="profile__form">
                    <input class="uk-input uk-form-small" id="Twitter" type="text" name="twitter" placeholder="Twitter"></br>
                    <input class="uk-input uk-form-small" id="Facebook" type="text" name="facebook" placeholder="Facebook"></br>
                    <input class="uk-input uk-form-small" id="LinkdIn" type="text" name="linkedin" placeholder="LinkdIn"></br>
                    <input class="uk-input uk-form-small" id="Website" type="text" name="website" placeholder="Website"></br>
                    <input class="uk-button uk-button-default uk-button-small" type="submit" value="Speichern">
                </div>
            </form>
        </div>
            
        <div class="profile__edit">
            <form class="uk-form-width-large uk-margin-small" action="/profile/experience" method="post">
                <h3>Berufserfahrung:</h3>
                <div class="profile__form">
                    <input class="uk-input uk-form-small" id="Titel" type="text" name="title" placeholder="Berufstitel"></br>
                    <input class="uk-input uk-form-small" id="Unternehmen" type="text" name="company" placeholder="Unternehmen"></br>
                    <input class="uk-input uk-form-small" id="Ort" type="text" name="location" placeholder="Ort"></br>
                    <input class="uk-input uk-form-small" id="Von" type="date" name="from" placeholder="Von (Datum)"></br>
                    <input class="uk-input uk-form-small" id="Bis" type="date" name="to" placeholder="Bis (Datum)"></br>
                    <input class="uk-button uk-button-default uk-button-small" type="submit" value="Speichern">
                </div>
            </form>
        </div>

        <div class="profile__edit">
            <form class="uk-form-width-large uk-margin-small" action="/profile/education" method="post">
                <h3>Bildungsweg:</h3>
                <div class="profile__form">
                    <input class="uk-input uk-form-small" id="Universität" type="text" name="university" placeholder="Universität"></br>
                    <input class="uk-input uk-form-small" id="Studiengang" type="text" name="fieldOfStudy" placeholder="Studiengang"></br>
                    <input class="uk-input uk-form-small" id="Abschluss" type="text" name="degree" placeholder="Abschluss"></br>
                    <input class="uk-input uk-form-small" id="Von" type="date" name="from" placeholder="Von (Datum)"></br>
                    <input class="uk-input uk-form-small" id="Bis" type="date" name="to" placeholder="Bis (Datum)"></br>
                    <input class="uk-button uk-button-default uk-button-small" type="submit" value="Speichern">
                </div>
            </form>
        </div>

    </body>
</div>

<% include ../../partials/foot %>