<% include ../../partials/head %>

<% include ../../partials/header %>

<%= currentProfile.user._id %> </br>

<body>
    Neue login view
    <div class="form-group">
        <form action="/users/login" method="post">
            <input class="form-control" id="Email" type="text" name="email" placeholder="Email eingeben"></br>
            <input class="form-control" id="Passwort" type="passord" name="password" placeholder="Passwort eingeben"></br>
            <input class="form-control" type="submit" value="Absenden">
        </form>
    </div>
</body>

<% include ../../partials/foot %>