<% include ../../partials/head %>

<% include ../../partials/header %>
<% include ../../partials/sidebar %>

<%= currentUserProfile %>
</br>
</br>
</br>
</br>
<h3>Viewd profile</h3>

<%= profile %>





<% include ../../partials/foot %>