<% include ../partials/head %>

<form action="post/upload1" method="post" enctype="multipart/form-data">
    <input type="file" name='avatar'/>
    <input type="text" name="text">
    <button>Submit</button>
</form>
</br>

<form action="post/upload2" method="post" enctype="multipart/form-data">
    <input type="file" name='image'/>
    <input type="text" name="text">
    <button>Submit</button>
</form>


<div class="js-upload" uk-form-custom>
    <input type="file" multiple>
    <button class="uk-button uk-button-default" type="button" tabindex="-1">Select</button>
</div>



<% include ../partials/foot %>










