<% include ../partials/head %>

<% console.log(currentUserProfile) %>



<form action="post/upload1" method="post" enctype="multipart/form-data">
    <input type="file" name='avatar'/>
    <input type="text" name="text">
    <button>Submit</button>
</form>
</br>

<form action="post/upload2" method="post" enctype="multipart/form-data">
    <input type="file" name='image'/>
    <input type="text" name="text">
    <button>Submit</button>
</form>




<% include ../partials/foot %>










