<% include ../../partials/head %>

<% include ../../partials/header %>
<%= currentUserProfile %>
</br>
</br>
</br>
</br>
</br>
all groups
<%= groups %>



<body>

</body>







<% include ../../partials/foot %>