<% include ../../partials/head %>

<% include ../../partials/header %>
<%= currentUserProfile %>


<body>
    Neue login view
    <div class="form-group">
        <form action="/group/create" method="post">
            <input class="form-control" id="Name" type="text" name="name" placeholder="Name für neue Gruppe eingeben"></br>
            <textarea class="form-control" id="Beschreibung" type="text" name="description" placeholder="Beschreibung eingeben"></textarea></br>
            <input class="form-control" type="submit" value="Absenden">
        </form>
    </div>
</body>




<% include ../../partials/foot %>