<% include ../../partials/head %>

<% include ../../partials/header %>
<% include ../../partials/sidebar %>



<body>
    <div class="main">

        <div class="group-header">
            <div class="group-name">
                <%= currentGroup.name %>
            </div>
            
            <!-- if currentUser is already member of this group, don't sho subscrib button -->
            <% if(membership == false){ %>
            <!-- form for joining the group -->
                <div class="sub-button">
                    <form action="/group/subscribe" method="post">
                        <input type="hidden" name="groupName" value="<%= currentGroup.name %>">
                        <input class="uk-button uk-button-primary" type="submit" value="Beitreten">
                    </form>
                </div>
            <% } %>
            <hr class="divider__b">
        </div>


        <!-- Form for creating a new post in that group -->
        <div class="new-post">
            <form action="/post/create" method="post" enctype="multipart/form-data">
                <!--<fieldset class="uk-fieldset">-->
                    <input class="uk-input" id="Titel" type="text" name="title" placeholder="Titel des Beitrags" required>
                    <textarea class="uk-textarea" id="Text" type="text" name="text" placeholder="Text eingeben"></textarea required>
                    <input type="hidden" name="groupName" value="<%= currentGroup.name %>">
                    <!--file upload form -->
                    <div class="js-upload" uk-form-custom>
                        <input type="file" name='image' single>
                        <button class="uk-button uk-button-default"  type="button" tabindex="-1">Select</button>
                    </div>

                    <button class="uk-button uk-button-primary uk-button-small" type="submit" value="Absenden">Absenden</button>
                <!--</fieldset>-->
            </form>
        </div>

        <!-- listing posts -->
        <% if(posts){ posts.forEach((post) => { %>
            <%- include('../../partials/components/single-post-reference', {post: post})%>
        <% })} %>

    </main>
</body>

<% include ../../partials/footer %>
<% include ../../partials/foot %>