<% include ../../partials/head %>

<% include ../../partials/header %>
<% include ../../partials/sidebar %>

<body>
    <div class="main">

        <!-- mopanel navigation buttons-->
        <%const activeSite = "leavemod"%>
        <% include ../../partials/components/modpanel-nav %>    

        <% if (modCount>1){%>
        <div class="uk-margin uk-margin-top uk-flex uk-flex-center">
            <form action="/group/mod/leavemod/<%=currentUserProfile._id%>" method="post">
                <div class="uk-margin-top" style="display:none">
                    <input type="hidden" name="groupID" value= "<%=group._id %>"></br>
                </div>
                <input class="uk-button uk-button-primary uk-button-small uk-margin-left uk-margin-right" type="submit" value="Leave Mod Status for this Group">
            </form>
        </div>
        <%}else{%>
            <div class="uk-margin uk-margin-top uk-flex uk-flex-center">
                <h3 style="text-align: center">You cannot leave Mod Status because you are the only Moderator of this group <h3>
            </div>
        <%}%>

    </main>
</body>





<% include ../../partials/footer %>
<% include ../../partials/foot %>