<% include ../../partials/head %>

<% include ../../partials/header %>
<% include ../../partials/sidebar %>

<body>
    <div class="main">

        <!-- mopanel navigation buttons-->
        <%const activeSite = "moderator"%>
        <% include ../../partials/components/modpanel-nav %>

        <!-- List all Moderators -->
        <% if(group.moderator){ group.moderator.forEach((profile) => { %>                
            <% profile = profile._id%>
            <%- include('../../partials/components/single-profile-reference', {profile, currentUserProfile})%>
        <%})} %>


    </main>
</body>





<% include ../../partials/footer %>
<% include ../../partials/foot %>