<% include ../../partials/head %>

<% include ../../partials/header %>
<% include ../../partials/sidebar %>
<body>
    <div class="main">

        <!-- search Form-->
        <div class="uk-margin uk-margin-left uk-margin-right uk-background-default">
            <form class="uk-search uk-search-default uk-width-1-1" action="/group/search" method="post">
                <input id="Name" type="text" name="name" class="uk-search-input" type="search" placeholder="Search...">
            </form>
        </div>
        
        <!-- list found groups if any-->
        <% if(groups.length !== 0) {groups.forEach((group) => { %>
            <div class="uk-card uk-card-default uk-card-body">
                <a class="uk-link-reset" href="/group/name/<%= group.name %>"><h3 class="uk-card-title"><%= group.name %></h3></a>
                <hr class="divider__b">
                <p> <%= group.description %></p>
            </div>
        <% })}else{ %>
            <div class="uk-margin uk-margin-left uk-margin-right">
                <p>No such groups found</p>
            </div>

        <%}%>

    </div>
<body>


<% include ../../partials/foot %>