<% include ../start %>


    <div class="main">
        <h4>Applicants:</h4>    
        <% if(users){ users.forEach((user) => { %>
            <div class="uk-card uk-card-default">
                <div class="uk-card-header">
                    <div class="uk-grid-small uk-flex-middle" uk-grid>
                        <div class="uk-width-expand">
                                <%console.log(user)%>
                            <h3 class="uk-card-title uk-margin-remove-bottom"><%= user.profile.name %></h3>
                            <%if (user.invitedBy){%>
                                <a class="uk-link-text" href="/profile/id/<%= user.invitedBy.profile %> "><span uk-icon="icon: chevron-right"></span>Invited by...</a>
                            <%}%>
                            <p class="uk-text-meta uk-margin-remove-top">
                                <form action="/verification/verifyuser/" method="post">
                                    <input type="hidden" name="userId" value="<%= user._id %>">
                                    <button type="submit" class="uk-button uk-button-primary uk-button-small">Bewerber bestätigen</button>                  
                                </form>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        <% })} %>
    </div>

    <%- include('../../partials/pagination-reduced', {current: current, url: url })%>


<% include ../end %>