.group-header{
    padding: 20px 20px 0px 20px;
    font-size: 30px;
    width: 90%;
    max-width: 640px;
}

.sub-button{
    display: inline-block;
    text-align: right;
}
.group-name{
    display: inline-block;
}

.new-post{
    width: 100%;
    margin: 8px 8px 20px 8px;
    max-width: 670px;
}

.subcomment-slider-title{
    box-sizing: border-box;
    width: 100%;
    //background-color: #1e87f0;
    //color: white;
    border: 1px solid #e5e5e5;
    padding: 5px;
}

.subcomment-form{
    background-color: white;
    padding-top: 10px;
    width: 100%;
    max-width: 630px;
    //border-top: 1px solid #e5e5e5;
    margin: 20px 8px 8px 8px;
    //display: none;
}

.post{
    box-sizing: border-box;
    background-color: white;
    padding: 0px 18px 5px 10px;
    width: 100%;
    border: 1px solid #e5e5e5;
    margin: 8px 0px 8px 0px;
    border-left: 8px solid #1e87f0;

    &__autor{
        display: block;
        color: #999;
        font-size: .5rem;
        text-transform: uppercase;
        transition: .1s ease-in-out;
        transition-property: color,background-color;
    }
    &__reply{
        display: inline-block;
        margin-top: 10px;
        margin-bottom: 10px;
        width: 100%;
        max-width: 300px;
        color: #999;
        font-size: .75rem;
        text-transform: uppercase;
        transition: .1s ease-in-out;
        transition-property: color,background-color;
    }
    &__comment-count{
        display: inline-block;
        color: #999;
        margin-top: 10px;
        margin-bottom: 10px;
        width: 100%;
        max-width: 300px;
        color: #999;
        font-size: .75rem;
        text-transform: uppercase;
        transition: .1s ease-in-out;
        transition-property: color,background-color;
    }
    &__comment{
        box-sizing: border-box;
        background-color: white;
        padding: 10px;
        width: 100%;
        border: 1px solid #e5e5e5;
        border-left: 8px solid #1e87f0;
        margin: 8px 0px 8px 0px;
    }
    &__sub-comment{
        box-sizing: border-box;
        background-color: white;
        padding: 0px 15px 0px 10px;
        width: 100%;
        border-top: 1px solid #999;
        border-left: 4px solid #1e87f0;
        margin: 12px 8px 12px 0px;
    }
}

.comment-form{
    display: none;
}

.uk-card-body {
    padding: 20px;
}
.uk-card {
    margin: 20px;
}

.delete-btn{
    border: solid 1px #999;
    padding: 0px 7px 0px 7px;
    font-size: 0.65rem;
    line-height: 20px;
}