.profile{
    &__edit{
        background-color: white;
        padding: 20px;
        //width: 90%;
        border: 1px solid #e5e5e5;
        margin: 8px;
    }
    &__form{
        width: 80%;
        margin: 0 30px;
    }
    &__dl{
        margin-top: 5px;
    }
}