<%#
displays a triangle button to report content (post/comment/subcomment)
takes params:
    contentId: id of content
    groupId: id of group
    currentUser
    contentType: type of content ("post"/"comment"/"subcomment")
%>

<!--Report Dropdown Button for Post -->
<button class="uk-button uk-button-link uk-position-top-right" type="button"><span uk-icon="icon:  triangle-down"></span></button>
<div uk-dropdown="mode: click; pos: bottom-left">
    <ul class="uk-nav uk-dropdown-nav">
        <li class="uk-nav-header">Beitrag melden?</li>
        <li class="uk-nav-divider"></li>
        <!--Buttons/Forms for reporting a Post -->
        <form action="/post/reportcontent" method="post">
            <div style="display:none">
                <input type="hidden" name="ID" value= <%= contentId%>></br>
                <input type="hidden" name="groupID" value= <%= groupId %>></br>
                <input type="hidden" name="reportedBy" value= <%= currentUserProfile._id %>></br>
                <input type="hidden" name="contentType" value=<%=contentType%>></br>
                <input type="hidden" name="reason" value= "inadquate"></br>
            </div>
            <input onclick="disableButton(this)" class="uk-button uk-button-primary uk-button-small uk-width-1-1 report-btn" type="submit" value="Beitrag melden!">
        </form>
    </ul>
</div>